/* Add border to recipe imagesit*/
.recipe-image { 
  border: 1px solid #264653;
 }

/*background image for landing page*/
.bg{
background-image: url('../images/login-bg.png');
}

/*Lobster Font for headers*/
.start-screen-font {
font-family: 'Lobster', cursive;
}

/*styling for start screen*/
#start-screen{
background-color: white; opacity: 0.8;
width:;
height: 500px;
margin-left: none;
margin-right: none;
padding: 20px 15px 0 15px;
}

/*styling for login textbox on start screen*/
#open-login-btn{
  display: flex; justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}


/*Log in form validation styling*/
#error{
  color: red;
  font-weight: bold;
}

#logout-btn{
  margin-top: 12px;
}

/* pencil and trash icons styling */
.fa-pencil{
  margin-left: 10px;
}

.fa-trash {
  margin-left: 10px;
}


/*Recipe box styling */
#recipeBox li {
  padding-top: 15px;
}

/* Logo in side menu */
#logo {
    padding-left: 100px;
}


/* Sticky Footer*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 50px;
}


/*Authentication/sign in button*/
#authentication-btn {
    margin-top: 10px;
    background-color: #E8BD53;
}


/*Recipe box button styling*/
#recipe-box-btn {
  margin-top: 15px;
}

/*Making all the buttons the same color for consistency*/
#submit, #logout-btn, #login-btn, #signup-btn,#open-login-btn, #login-confirm-btn, #logout-confirm-btn, .noteSave, .notesSave, #load-more {
background-color: #E8BD53;
}

/*Add margin to save button in notes modal*/
.noteSave {
  margin-right: 10px;
}

/*Icon in top navigation bar that opens recipe box*/
.fa-cutlery:hover {
  color: #E8BD53;
}

nav, .page-footer {
    background-color: #264653;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
